.connect-wallet {
  display: flex;
}

.connect-wallet__button {
  background-color: transparent;
  border: 1px solid #424242;
  border-radius: 1.5rem;
  font-size: 1.125rem;
  color: white;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.connect-wallet__button:hover {
  border-color: white;
}
