.App {
  background: var(--bg-color);
  color: var(--text-color);
  margin: auto;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.content-wrapper {
  display: flex;
  justify-content: center;
  max-width: 880px;
  margin: auto;
  padding: 0 10px;
}

.app-page {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--heading-color);
    margin: 1rem 0;
    font-weight: 600;
    line-height: 1.4 !important;
  }
  a {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit !important; /* no underline */
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a,
button,
input {
  transition-property: background-color, border-color, color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.15s;
}

table {
  text-indent: 0;
  border-color: inherit;
  border-collapse: collapse;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
