.createProposal {
    display: flex;
    flex-direction: column;
    min-height: 40vh;
}

@mixin reset-input {
    outline: none;
    color: white;
    background-color: transparent;
    border: none;
}

.createTitleInput {
    @include reset-input;

    font-weight: 600;
    font-size: 36px;
    line-height: 50px;
    margin-bottom: 8px;
}

.createBodyTextArea {
    @include reset-input;

    resize: none;
    overflow: hidden;
    font-size: 22px;
}