.header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-logo {
  display: block;
  max-width: 10rem;
  max-height: 4rem;
  outline: none;
}
