.navbar {
  display: flex;
  position: absolute;
  top: 3rem;
  left: 50%;
  text-align: center;
  margin: 0;
  padding: 0;
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
      transform: translate(-50%,-50%);
}

.navbar-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  color: inherit;
  text-decoration: inherit;
  outline: none;
}
