.error {
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: white;
}

.connect-button {
  height: 3rem;
  border-radius: 1rem;
  border-color: unset;
  cursor: pointer;
  position: relative;
  color: black;
  margin-bottom: 0.5rem;
}

.connect-button__disable {
  cursor: unset;
  color: white;
}

.connect-button__activating {
  border-color: orange;
}

.connect-button__connected {
  border-color: green;
}

.connect-button__icon {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  display: flex;
  align-items: center;
  color: white;
  margin: 0 0 0 -2rem;
}
